<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h3 class="text-center">
				Ebook repository
			</h3><br/>

			<button ng-show="ebc.currentUser.firstname" ng-click="ebc.new()" type="button" class="btn btn-success">Add ebook</button>

				<table class="table table-bordered table-hover table-condensed">
				<thead>
					<tr>
						<th>
							Title
						</th>
						<th>
							Author
						</th>
						<th>
							Keywords
						</th>
						<th>
							Publication year
						</th>
						<th>
							Category
						</th>
						<th>
							Language
						</th>
						<th ng-show="ebc.currentUser.firstname">
							Options
						</th>
					</tr>
				</thead>
				<tbody>
				
					<tr ng-repeat="ebook in ebc.ebooks">
						
						<td>{{ebook.title}}</td>
						<td>{{ebook.author}}</td>
						<td>{{ebook.keywords}}</td>
						<td>{{ebook.publicationYear}}</td>
						<td>{{ebook.category.name}}</td>
						<td>{{ebook.language.name}}</td>
			
						<td ng-show="ebc.currentUser.firstname">
						<button ng-click="ebc.delete(ebook.ebookId)" type="button" class="btn btn-default btn-sm">
  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
</button>
<button ng-click="ebc.edit(ebook)" type="button" class="btn btn-default btn-sm">
  <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
</button>
						</td>
					
					</tr>
				
				
				</tbody>
			</table>
		</div>
	</div>
</div>