<div id="wrapper" class="toggled">

	<!-- Sidebar -->
	<div id="sidebar-wrapper">
		<ul class="sidebar-nav">
			<li class="sidebar-brand">
				<a ui-sref="category" ng-class="ebc.getClassCategoryLink()">Categories</a>
			</li>

			<li ng-repeat="category in ebc.categories">
				<a href="" ng-class="ebc.getClass(category.name)" ng-click="ebc.getEbooksForCategory(category.name)"><span class="label label-pill label-danger">{{ebc.getCount(category)}}</span>&nbsp&nbsp&nbsp  {{category.name}}  </a>

			</li>


		</ul>
	</div>
	<!-- /#sidebar-wrapper -->

	<!-- Page Content -->
	<div id="page-content-wrapper">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<h3 class="text-center">
						Ebook repository 
					</h3><br />
					

					<p ng-hide="ebc.showTable || ebc.ebooks.length===0" class="text-center" style="margin-top: 100px;">
					 <span us-spinner="{radius:30, width:8, length: 16}" spinner-key="spinner-1" style="position: relative;"></span>
</p>
					<p>
					<button ng-show="ebc.currentUser.type==='administrator' && ebc.showTable" ng-click="ebc.new()" type="button" class="btn btn-danger"><i class="fa fa-plus-square fa-lg" aria-hidden="true">  Add ebook</i>  </button>
					</p>
					

					<div ng-hide="ebc.showTable || ebc.spinner" class="jumbotron">
					  <h1>Ebook list empty.</h1>
					  <p>There are no books for the selected category.</p>
					  <p ng-show="ebc.currentUser.type==='administrator'">Use button below to add some ebooks.</p>
					  <p><button ng-show="ebc.currentUser.type==='administrator'" ng-click="ebc.new()" type="button" class="btn btn-danger btn-lg"><i class="fa fa-plus-square fa-2x" aria-hidden="true">  Add ebook</i>  </button></p>
					</div>

					<table ng-show="ebc.showTable" class="table table-bordered table-hover table-condensed">
						<thead>
							<tr>
								<th>
									Title
								</th>
								<th>
									Author
								</th>
								<th>
									Keywords
								</th>
								<th>
									Publication year
								</th>
								
								<th>
									Language
								</th>
								<th ng-hide="ebc.currentUser.category.name!==ebook.category.name || !ebc.currentUser.firstname">
									Options
								</th>
							</tr>
						</thead>
						<tbody>

							<tr ng-repeat="ebook in ebc.ebooks">

								<td>{{ebook.title}}</td>
								<td>{{ebook.author}}</td>
								<td>{{ebook.keywords}}</td>
								<td>{{ebook.publicationYear}}</td>
								
								<td>{{ebook.language.name}}</td>

								<td ng-show="ebc.currentUser.type==='administrator'">
									<button ng-click="ebc.delete(ebook.ebookId)" type="button" class="btn btn-default btn-sm">
										<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
									</button>
									<button ng-click="ebc.edit(ebook)" type="button" class="btn btn-default btn-sm">
										<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
									</button>
									<a ng-href="ebook/download/{{ebook.filename}}" role="button" class="btn btn-default btn-sm">
										<span class="glyphicon glyphicon-download" aria-hidden="true"></span>
									</a>
								</td>

								<td ng-show="ebc.currentUser.type==='pretplatnik' && !ebc.currentUser.category">
									<a ng-href="ebook/download/{{ebook.filename}}" role="button" class="btn btn-default btn-sm">
										<span class="glyphicon glyphicon-download" aria-hidden="true"></span>
									</a>
								</td>

								<td ng-show="ebc.currentUser.type==='pretplatnik' && ebc.currentUser.category.name===ebook.category.name">
									<a ng-href="ebook/download/{{ebook.filename}}" role="button" class="btn btn-default btn-sm">
										<span class="glyphicon glyphicon-download" aria-hidden="true"></span>
									</a>
								</td>

							</tr>


						</tbody>
					</table>
				</div>
			</div>
			
		</div>
	</div>
	<!-- /#page-content-wrapper -->

</div>


