<form class="state-form form-horizontal" name="epc.form" ng-submit="epc.submitForm()" novalidate>
	<div class="modal-header">
	    <h2 class="text-center"> Change password </h2>
	</div>
	<div class="modal-body">
	    <div class="form-group">
	    	<div class="col-sm-12">
	    		<div class="col-sm-6">
	    			<label for="oldPassword" class="col-sm-offset-6 control-label" >Old password</label>
	    		</div>
	    		<div class="col-sm-6">
	    			<input class="form-control" ng-model-options="{updateOn: 'default blur', debounce: { 'default': 0, 'blur': 0}}" type="password" ng-model="epc.passwordModel.oldPassword" id="oldPassword" name="oldPassword" placeholder="Old password"/ required>
	    			<p class="text-center" ng-show="epc.form.oldPassword.$touched && epc.form.oldPassword.$error.required" style="color: red;" >Error Old password</p>
	    		</div> 
	        </div>
	    </div>

	    <div class="form-group">
	    	<div class="col-sm-12">
	    	<div class="col-sm-6">
	    		<label for="newPassword" class="col-sm-offset-6 control-label">New password</label>
	    		</div>
	    		<div class="col-sm-6">
	    			<input class="form-control" ng-model-options="{updateOn: 'default blur', debounce: { 'default': 0, 'blur': 0}}" type="password" ng-model="epc.passwordModel.newPassword" id="newPassword" name="newPassword" placeholder="New password"/ required>
	    			<p class="text-center" ng-show="epc.form.newPassword.$touched && epc.form.newPassword.$error.required" style="color: red;" >Error New password</p>
	    		</div> 
	        </div>
	    </div>

	    <div class="form-group" ng-hide="epc.status==='editProfile'">
	    	<div class="col-sm-12">
	    	<div class="col-sm-6">
	    		<label for="confirmPassword" class="col-sm-offset-6 control-label">Confirm password</label>
	    		</div>
	    		<div class="col-sm-6">
	    			<input class="form-control" ng-disabled="epc.status === 'edit'" ng-model-options="{updateOn: 'default blur', debounce: { 'default': 0, 'blur': 0}}" type="password" ng-model="epc.passwordModel.confirmPassword" id="confirmPassword" name="confirmPassword" placeholder="Confirm password"/ required>
	    			<p class="text-center" ng-show="epc.form.confirmPassword.$touched && epc.form.confirmPassword.$error.required" style="color: red;" >Error Confirm password</p>
	    		</div> 
	        </div>
	    </div>

	
	    

	</div>
	<div class="modal-footer">
		<div class="text-center">
		    <button class="btn btn-success" type="submit" ng-disabled="epc.form.$invalid">Save</button>
		    <button class="btn btn-warning" type="button" id="cancelButton" ng-click="epc.cancel()">Cancel</button>
		</div>
	</div>
</form>