<!-- 
<div class="modal-header">

	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
		×
	</button>
	<h4 class="modal-title" id="myModalLabel">
		Modal title
	</h4>
</div>
<div class="modal-body">
	...
</div>
<div class="modal-footer">

	<button type="button" class="btn btn-default" data-dismiss="modal">
		Close
	</button> 
	<button type="button" class="btn btn-primary">
		Save changes
	</button>
</div> -->

<!-- Pretraživanje knjiga po naslovu.
Pretraživanje knjiga po autorima.
Pretraživanje radova po ključnim rečima.
Pretraživanje radova po sadržaju.
Pretraživanje radova po jeziku. -->

<form class="state-form form-horizontal" name="sec.form" ng-submit="sec.submitForm()" novalidate>
	<div class="modal-header">
		<h2 class="text-center"> {{sec.title}} searchModel </h2>
	</div>
	<div class="modal-body">
		<div class="form-group">
			<div class="col-sm-8 col-sm-offset-2">
				<label for="title" class="col-sm-2 control-label">Title</label>
				<div class="col-sm-8">
					<input class="form-control" ng-model-options="{updateOn: 'default blur', debounce: { 'default': 0, 'blur': 0}}" type="text" ng-model="sec.searchModel.fields[0].value" id="title" name="title" placeholder="Title"/ required>
					
				</div>
				<div class="col-sm-2">
					<select class="form-control" name="operator" ng-options="occurance for occurance in sec.occurances track by occurance" ng-model="sec.searchModel.fields[0].occur" required>
					</select>	
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-8 col-sm-offset-2">
				<label for="author" class="col-sm-2 control-label">Author</label>
				<div class="col-sm-8">
					<input class="form-control" ng-model-options="{updateOn: 'default blur', debounce: { 'default': 0, 'blur': 0}}" type="text" ng-model="sec.searchModel.fields[1].value" id="author" name="author" placeholder="Author"/ required>
					
				</div>
				<div class="col-sm-2">
					<select class="form-control" name="operator" ng-options="occurance for occurance in sec.occurances track by occurance" ng-model="sec.searchModel.fields[1].occur" required>
					</select>	
				</div> 
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-8 col-sm-offset-2">
				<label for="keywords" class="col-sm-2 control-label">Keywords</label>
				<div class="col-sm-8">
					<input class="form-control" ng-model-options="{updateOn: 'default blur', debounce: { 'default': 0, 'blur': 0}}" type="text" ng-model="sec.searchModel.fields[2].value" id="keywords" name="keywords" placeholder="Keywords"/ required>
					
				</div>
				<div class="col-sm-2">
					<select class="form-control" name="operator" ng-options="occurance for occurance in sec.occurances track by occurance" ng-model="sec.searchModel.fields[2].occur" required>
					</select>	
				</div> 
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-8 col-sm-offset-2">
				<label for="language" class="col-sm-2 control-label">Language</label>
				<div class="col-sm-8">
					<input class="form-control" ng-model-options="{updateOn: 'default blur', debounce: { 'default': 0, 'blur': 0}}" type="text" ng-model="sec.searchModel.fields[3].value" id="language" name="language" placeholder="Language"/ required>
					
				</div>
				<div class="col-sm-2">
					<select class="form-control" name="operator" ng-options="occurance for occurance in sec.occurances track by occurance" ng-model="sec.searchModel.fields[3].occur" required>
					</select>	
				</div> 
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-8 col-sm-offset-2">
				<label for="text" class="col-sm-2 control-label">Text</label>
				<div class="col-sm-8">
					<input class="form-control" ng-model-options="{updateOn: 'default blur', debounce: { 'default': 0, 'blur': 0}}" type="text" ng-model="sec.searchModel.fields[4].value" id="text" name="text" placeholder="Text"/ required>
					
				</div>
				<div class="col-sm-2">
					<select class="form-control" name="operator" ng-options="occurance for occurance in sec.occurances track by occurance" ng-model="sec.searchModel.fields[4].occur" required>
					</select>	
				</div> 
			</div>
		</div>

	</div>
</div>

</div>
<div class="modal-footer">
	<div class="text-center">
		<button class="btn btn-success" type="submit" >Save</button>
		<button class="btn btn-warning" type="button" id="cancelButton" ng-click="sec.cancel()">Cancel</button>
	</div>
</div>
</form>
