<!-- <html xmlns:th="http://www.thymeleaf.org"> -->
<!-- <body> -->

<!-- 	<div th:if="${message}"> -->
<!-- 		<h2 th:text="${message}"/> -->
<!-- 	</div> -->

<!-- 	<div> -->
<!-- 		<form method="POST" enctype="multipart/form-data" action="/"> -->
<!-- 			<table> -->
<!-- 				<tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr> -->
<!-- 				<tr><td></td><td><input type="submit" value="Upload" /></td></tr> -->
<!-- 			</table> -->
<!-- 		</form> -->
<!-- 	</div> -->

<!-- 	<div> -->
<!-- 		<ul> -->
<!-- 			<li th:each="file : ${files}"> -->
<!-- 				<a th:href="${file}" th:text="${file}" /> -->
<!-- 			</li> -->
<!-- 		</ul> -->
<!-- 	</div> -->

<!-- </body> -->
<!-- </html> -->


<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h2>
				Heading
			</h2>
			<p>
				Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
			</p><p>
			
			
			</p>
			<p>
				<a class="btn" href="#">View details</a>
			</p>
		</div>
	</div>
</div>

