<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<nav class="navbar" role="navigation" style="color: red; background-color: #C4B992; outline-color: white; font">
				<div class="navbar-header">
					 
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						 <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
				<!-- 	</button> <a class="navbar-brand" href="#"><img src="../../../assets/img/logo2.png" width="32px" height="32px"></a> -->
				</div>
				
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li>
							<a ui-sref="home">Home</a>
						</li>
						<li>
							<a ui-sref="ebook">Ebooks</a>
						</li>
						<li ng-show="coc.currentUser.type==='administrator'">
							<a ui-sref="category">Categories</a>
						</li>
						<li ng-show="coc.currentUser.type==='administrator'">
							<a ui-sref="user">Users</a>
						</li>
						<li>
							<a href="" ng-click="coc.search()">Search</a>
						</li>
						
					</ul>
					
					<ul class="nav navbar-nav navbar-right">
						<li ng-show="coc.currentUser.firstname">
							<a style="color: green;" ui-sref="details"><i> {{coc.currentUser.firstname + " " + coc.currentUser.lastname}}</i></a>
						</li>
						<li ng-show="coc.currentUser.firstname">
							<a href="#" ng-click="coc.logout()"><b>Logout</b></a>
						</li>
						<li ng-show="!coc.currentUser.firstname">
							<a ui-sref="login"><b>Login</b></a>
						</li>
						
					</ul>
				</div>
				
			</nav>
		</div>
	</div>
</div>